pre_analysis_plan/cache/
pre_analysis_plan/occsmall2_coded.csv
pre_analysis_plan/job_assignments_final.csv
pre_analysis_plan/BES2016_wave7.sav
pre_analysis_plan/Unweighted interim.sav
pre_analysis_plan/bes_immig.dta
pre_analysis_plan/.Rhistory
